@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    font-family: "Roboto", serif;
}

.bg-blur1{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(35px);
   
}

.bg-blur2{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(45px);
   
}


.content-shadow {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      
      
    }
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #00000015;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #888888;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #696969;
    }
  }


  @layer utilities {
    .scrollbar2::-webkit-scrollbar {
      width: 8px;
      
      
      
      
    }
    .scrollbar2::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #00000015;
    }
  
    .scrollbar2::-webkit-scrollbar-thumb {
      background: #888888;
      border-radius: 100vh;
    }
  
    .scrollbar2::-webkit-scrollbar-thumb:hover {
      background: #696969;
    }
  }