@import "tailwindcss";



html {
    font-family: "Roboto", serif;
}

.bg-blur1{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(35px);
   
}

.bg-blur2{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(45px);
   
}


.content-shadow {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)
}

.drop-area {
  width: 100%;
  height: 40px;
  columns: #dcdcdc;
  border: 1px dashed #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom:15 px;
  opacity: 1;
  transition: all  0.2s ease-in-out;
}

.hide-drop {
  opacity: 0;
}



@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      
      
    }
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #00000015;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #888888;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #696969;
    }
  }


  @layer utilities {
    .scrollbar2::-webkit-scrollbar {
      width: 8px; 
      height: 10px
    }
    .scrollbar2::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #00000015;
      margin-block: .2em
    }
  
    .scrollbar2::-webkit-scrollbar-thumb {
      background: #616161;
      border-radius: 100vh;
    }
  
    .scrollbar2::-webkit-scrollbar-thumb:hover {
      background: #3a3a3a;
    }
  }


  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }